
div{
    position: calc(center);
    margin: auto;
    padding: 20px;
    color: brown;
    border: 2px  dashed brown;
    text-align:center ;
    background-size: auto;
    width: 475px;
    background-position: center;
}
.arabic{
    font-size: 20px;
    color: brown;
    margin-top: 20px;
    text-align: center;
}